<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Add Gallery</title>
<link href="css/admin.css" rel="stylesheet" type="text/css" media="screen" />
<link href="css/fonts.css" rel="stylesheet" type="text/css" media="screen" />
</head>

<body>
	
    <center>
    
    	<section class="top">
        	<ul>
				<li><a href="#"><img src="images/logo.png" alt="Logo"></a></li>
                <li>
                	<dl>
						<dt>Welcome to <span>Admin Panel</span></dt>
						<dt><a href="#" title="Logout">Logout</a></dt>
					</dl>
               </li>
            </ul>
        </section>
        
        <section class="nav">
        	<nav>
            	<ul>
                	<li>
                    	<a href="#" title="My Account" class="active">
                            My Account
						</a>
                        <dl class="drop">
                            <dt><a href="#" title="Change Password">Change Password</a></dt>
                            <dt><a href="#" title="Logout">Logout</a></dt>
                        </dl>
                    </li>
                    <li>
                    	<a href="#" title="Menu Management">
                           Menu Management
						</a>
                        <dl class="drop">
                            <dt><a href="add-menu.html" title="Add Menu">Add Menu</a></dt>
                            <dt><a href="view-edit-menu.html" title="View/Edit Menu">View/Edit Menu</a></dt>
                        </dl>
                    </li>
                    <li>
                    	<a href="#" title="Submenu Management">
                            Sub-Menu
						</a>
                        <dl class="drop">
                            <dt><a href="add-submenu.html" title="Add Sub-Menu">Add Sub-Menu</a></dt>
                            <dt><a href="edit-submenu.html" title="View/Edit Sub-Menu">View/Edit Sub-Menu</a></dt>
                        </dl>
                    </li>
                    <li>
                    	<a href="#" title="Content Management">
                            Content Management
						</a>
                        <dl class="drop">
                            <dt><a href="add-content.html" title="Add Content">Add Content</a></dt>
                            <dt><a href="edit-content.html" title="View/Edit Content">View/Edit Content</a></dt>
                        </dl>
                    </li>
                    <li>
                    	<a href="#" title="Gallery Management">
                            Gallery Management
						</a>
                        <dl class="drop">
                            <dt><a href="add-gallery.html" title="Add Gallery">Add Gallery</a></dt>
                            <dt><a href="edit-gallery.html" title="View/Edit Gallery">View/Edit Gallery</a></dt>
                        </dl>
                    </li>
                    <li>
                    	<a href="#" title="Bottom Slider Management">
                            Bottom Slider
						</a>
                        <dl class="drop">
                            <dt><a href="add-slider.html" title="Add Slider Photo">Add Slider Photo</a></dt>
                            <dt><a href="edit-slider.html" title="View/Edit Slider Photo">View/Edit Slider Photo</a></dt>
                        </dl>
                    </li>
                    <li id="userfiles">
                    	<a href="#" title="Users Management">
                            Users Management
						</a>
                        <dl class="drop">
                            <dt><a href="new-users.html" title="New Users">New Users</a></dt>
                            <dt><a href="approved-users.html" title="Approved Usres">Approved Usres</a></dt>
                        </dl>
                    </li>                 
                </ul>
            </nav>       
        </section>
        
        <section class="wrapp">
        	<section class="Heading">
                <h1><span>Add</span> Gallery Photos</h1>
            </section>
            
            <section class="add_menu">
            	<ul>
                	<li>
                    	<label for="select-photo">Select Photo</label>
                        <input type="file" name="select-photo" size="40" />
                        <div class="clear"></div>
                    </li>
                    
                	<li>
                    	<label for="title">Photo Name</label>
                    	<input type="text" name="photo"/>
                        <div class="clear"></div>
                    </li>
					
                	<li>
                    	<label for="description">Description</label>
                    	<textarea name="description"></textarea>
                        <div class="clear"></div>
                    </li>
                    
                    <li><a href="#" title="Add Another Photo >>">Add Another Photo &#43;</a></li>
                    
                    <li>
                    	<input type="button" name="Upload" value="Upoload" />
                    </li>
                </ul>
            </section>
            <div class="clear"></div>
            
        </section>
    	
        <footer>&copy; Copyright All Rights Reserved to eMeditran 2013.</footer>
        
    </center>
    
</body>
</html>
