<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Login</title>
<link href="css/admin.css" rel="stylesheet" type="text/css" media="screen" />
<link href="css/fonts.css" rel="stylesheet" type="text/css" media="screen" />
</head>

<body class="bg">
	
    <center>
<section class="login_wrapp">
<div id="logoo"><img src="images/logo.png" height="75" width="200" border="0" /></div>
<div class="login_info">
<p>Enter Account Information below</p>
<div id="fields">
<label for="username">Username</label>
<input type="text" name="username" />
<div class="clear"></div>
</div>

<div class="fields">
<label for="password">Password</label>
<input type="password" name="password" />
<div class="clear"></div>
</div>

<div id="login_submit">
<ul>
<li id="login_button"><input type="button" name="login" value="Login" title="Login" /></li>
<li id="login_remember">
<input type="checkbox" name="remember" />
<label for="remember">Remember me?</label>
<div class="clear"></div>
</li>
<div class="clear"></div>
</ul>
</div>

<div id="login_links">
<ul>
<li id="login_lin"><a href="#" title="Create an Account">Create an Account</a>|</li>
<li><a href="#" title="Forgot Password?">Forgot Password?</a></li>
<div class="clear"></div>
</ul>
</div>
</div>
<div class="clear"></div>

</section>
</center>
    
</body>
</html>
