{% extends 'login/admin panel/header.html' %}
{% block content %}
<section class="wrapp">
    <section class="Heading">
        <h1><span>View Items</span> Menu</h1>
    </section>

    <section class="edit-menu">
        <table width="100%" cellpadding="0" cellspacing="0">
            <tr>
                <th>Id</th>
                <th>Item Name</th>
                <th>Min</th>
                <th>Description</th>
                <th>Max</th>
                <th>Expiry Date</th>
                <th>Weight</th>
                <th>Type</th>
                <th>Select</th>
            </tr>
            <tr>
                <!--Id-->
                <td></td>

                <!--Item Name-->
                <td></td>

                <!--Minimum Count-->
                <td></td>

                 <!--Description-->
                <td></td>

                <!--Maximum Count-->
                <td></td>

                <!--Expiry Date-->
                <td></td>

                <!--Weight-->
                <td></td>

                <!--Type-->
                <td></td>

                <td id="action"><input type="checkbox" /></td>
            </tr>
        </table>
    </section>
    {% endblock %}
